* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background: #1E1F25;
    font-family: 'Aladin';
    font-size: 120%;
}

a {
    text-decoration: none;
}


/* starting banner */

#banner {
    margin-top: 2%;
}

#banner img {
    height: 100%;
    width: 100%;
}


/* ending banner */

.ifr {
    /* here i mafe some styling of the frame to make look beter */
    width: 85%;
    height: 700px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid red;
    margin-top: 4%;
}


/* starting icons */

.iconn {
    text-align: center;
}

.material-icons {
    color: rgba(240, 218, 80, 1);
}

#trans {
    position: relative;
    top: 5px;
    left: 45%;
    font-size: 300%;
}

#uni {
    position: relative;
    top: 5px;
    left: 45%;
    font-size: 300%;
}

#cont {
    opacity: 80%;
}


/*ending icons  */


/*  */